body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: fantasy;
}

.card {
    background-color: #c00f0f;
}


.img_pokedex {
    width: 100%;
    padding: 0 40px;
    height: auto;
}   

.img_pokemon {
    width: 200px;
    align-content: center;
}
.img_pokeball {
    width: 30%;
    transform: rotate(1440deg);
    transition: 10s;
    align-content: center;
}
.img_pokeball:hover {
    transform: rotatez(720deg);
    transition: 2s;
}
.form-control {
    background-color: #131518;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}
.form-1 {
    height: 300px;
    background-color: #7a870a;
    border: 10px solid #cecdcd;
    color: rgb(44, 44, 44);
    text-align: ;
}

.btn {

    box-shadow: 3px 3px 3px 3px  #1a1919;
}
.img_boton {
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    align-content: center;
    padding: 0;
}
