
/* --------------------RESET-------------------- */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Goldman', cursive;   
}

/* --------------------CARD-HEADER-------------------- */
.card {
    background-color: #c00f0f;
    border-radius: 30px;
}
.img_pokedex {
    width: 100%;
    padding: 0 40px;
    height: auto;
}

/* --------------------CARD-PANTALLA-------------------- */

.form-1 {
    width: 100%;
    height: auto;
    background-color: #9ae4ed;
    border: 10px solid #434343;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px 4px  #965858;    
}
.pantalla {
    height: 100%;
    display: inline-block;
    font-size: 15px;
    color: black;
    align-content: center;
}
.pantalla img {
    width: 200px;
    height: 200px;
}

/* --------------------CARD-POKEBALL-------------------- */

.form-control {
    font-size: 10px;
    width: 100%;
}
.img_pokeball {
    width: 10%;
    transform: rotate(1440deg);
    transition: 10s;
    align-content: center;
}
.img_pokeball:hover {
    transform: rotatez(720deg);
    transition: 2s;
}

/* --------------------CARD-SECTION-------------------- */

#chartContainer {
    height: 300px;
    width: 100%;
    padding: 0;
}
audio {
    width: 15%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 4px  #965858;  
}
.btn {
    box-shadow: 1px 1px 3px 4px  #965858;  
    border-radius: 25px;
    margin-top: 100px;
}
.img_pk1 {
    width: 30%;
    height: 30%;
    float: left;
    margin-top: -170px;
}
.img-pk2 {
    width: 30%;
    height: 30%;
    float: right;
    margin-top: -170px;
}
.img-boton {
    width: 100%;
    box-shadow: 1px 1px 3px 4px  #965858;  
    margin-top: 10px;
}
h4 {
    background-color: yellow;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}
ul {
    padding: 0;
}
li {
    padding-top: 5px;
    text-align: center;
}
p {
    padding-top: 5px;
    text-align: center;
}

/* --------------------CARD-FOOTER-------------------- */

.img_pokemon {
    width: 200px;
    align-content: center;
}





